<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SplatterServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <SplatterServer.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>10622</value>
            </setting>
            <setting name="DatabaseHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabasePort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Locked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscriptionHost" serializeAs="String">
                <value>magestorm.net</value>
            </setting>
            <setting name="DatabaseUsername" serializeAs="String">
                <value>localweb</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value>1.2.1.7</value>
            </setting>
            <setting name="MessageOfTheDay" serializeAs="String">
                <value>Have fun playing Magestorm!</value>
            </setting>
            <setting name="NotifyEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PlusExpBonus" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="WebKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpMultiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>splatterballplus</value>
            </setting>
        </SplatterServer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
